# Python package
# Create and test a Python package on multiple Python versions.
# Add steps that analyze code, save the dist with the build record, publish to a PyPI-compatible index, and more:
# https://docs.microsoft.com/azure/devops/pipelines/languages/python

trigger:
  - master

jobs:
  - job: TestLinux
    strategy:
      matrix:
        Python36:
          python.version: "3.6"
        Python37:
          python.version: "3.7"
      maxParallel: 2
    pool:
      vmImage: ubuntu-16.04
    variables:
      - group: CI
    steps:
      - template: .azure-pipelines/templates/run-tests.yml
      - template: .azure-pipelines/templates/run-coverage.yml

  - job: TestWindows
    strategy:
      matrix:
        Python36:
          python.version: "3.6"
        Python37:
          python.version: "3.7"
      maxParallel: 2
    pool:
      vmImage: windows-2019
    steps:
      - template: .azure-pipelines/templates/run-tests.yml

  - job: TestMac
    strategy:
      matrix:
        Python36:
          python.version: "3.6"
        Python37:
          python.version: "3.7"
      maxParallel: 2
    pool:
      vmImage: macOS-10.13
    steps:
      - template: .azure-pipelines/templates/run-tests.yml

  - job: BuildPackage
    dependsOn: TestLinux
    pool:
      vmImage: ubuntu-16.04
    steps:
      - template: .azure-pipelines/templates/build-package.yml
