include pyproject.toml LICENSE README*.rst CHANGELOG.rst CONTRIBUTING.rst

exclude .editorconfig
exclude .coveragerc
exclude .travis.yml
exclude tox.ini
exclude Pipfile*
exclude requirements*.txt
exclude .readthedocs.yml

recursive-include docs Makefile *.rst *.py *.bat
recursive-exclude docs requirements*.txt

prune .github
prune docs/build
prune news
prune tasks
prune tests
