[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
file-config = {editable = true,extras = ["docs", "test"],path = "."}

[dev-packages]
twine = "*"
invoke = "*"
parver = "*"
black = "*"
flake8 = "*"
towncrier = "*"
colorama = "*"
vprof = "*"
readme_renderer = {version = "*",extras = ["md"]}
pip-licenses = "*"
ptpython = "*"

[pipenv]
allow_prereleases = true
