[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
file-config = {editable = true, extras = ["dev", "docs", "test"], path = "."}

[dev-packages]
tox = "*"
"flake8" = "*"
black = "*"
isort = "*"
ujson = "*"
tomlkit = "*"
pyyaml = "*"
msgpack = "*"
pytest = "==3.9.3"
pytest-xdist = "*"
"pytest-flake8" = "*"
hypothesis = "*"
sphinx = "*"
pytoml = "*"
toml = "*"
codacy-coverage = "*"
pytest-cov = "*"
python-rapidjson = "*"
coverage = "==4.5.1"
pytest-sugar = "*"
invoke = "*"
parver = "*"
towncrier = "*"
colorama = "*"
vprof = "*"

[requires]
python_version = "3.6"

[pipenv]
allow_prereleases = true
