[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
attrs = "*"
jsonschema = "*"

[dev-packages]
tox = "*"
"flake8" = "*"
black = "*"
isort = "*"
ujson = "*"
tomlkit = "*"
pyyaml = "*"
msgpack = "*"
pytest = "*"
pytest-xdist = "*"
pytest-sugar = "*"
"pytest-flake8" = "*"
hypothesis = "*"
sphinx = "*"
pytoml = "*"
toml = "*"

[requires]
python_version = "3.6"

[pipenv]
allow_prereleases = true

[scripts]
tests = "pytest -rc ./tests -n 4"
make-docs = "make -C ./docs html"
clean-docs = "make -C ./docs clean"
open-docs = "python -m webbrowser -t ./docs/build/html/index.html"
